<%= link_to 'Artist Home Page', artists_path %>

<h1><%= @artist.name %></h1>
<p><%= @artist.bio %></p>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%=link_to song.name, song %></li>
  <% end %>
</ul>