<p>My Song</p>


<p><% @songs.each do |song| %>
	<tr>
	<td><%= link_to song.name, song %></td>
	<td><%= link_to "Show", song %></td>
	<td><%= link_to "Edit", edit_song_path(song) %></td>
</tr><br>
<% end %></p>
